<div id="tweet_<%= tweet.id %>" class="tweet-box">
  <div class="card-body">
    <%# つぶやきの表示内容 %>
    <div class="row">
      <div class="col-md-8">
        <%= attachment_image_tag tweet.user, :icon_image, fallback: "no_icon.png", size: "50x50", class: "icon" %>
        <%= link_to tweet.user.username, user_path(tweet.user), class: "tweet-font ml-3" %>
      </div>
      <div class="col-md-4">
        <span><%= tweet.updated_at.strftime("%Y-%m-%d %H:%M") %></span>
        <% unless current_page?(user_path(tweet.user)) %>
          <span id="follow_<%= tweet.user.id %>">
            <%= render "relationships/follow", user: tweet.user %>
          </span>
        <% end %>
      </div>
    </div>

    <div class="row mx-auto mt-2">
      <%= attachment_image_tag tweet, :image, class: "col-md-10 mx-auto" %>
    </div>

    <div class="row tweet-text">
      <div class="col-md-10 text-break mx-auto">
        <%= safe_join(tweet.body.split("\n"),tag(:br)) %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-11 mx-auto">
      <% tweet.tags.each do |tag| %>
        <%= link_to tag.name, tweets_path(tag_name: tag.name), class: "badge badge-info" %>
      <% end %>
      </div>
    </div>

    <%# ユーザーによって表示内容の切り分け %>
    <div class="row">
      <div class="col-md-11 mx-auto card-footer align-items-center">
        <div class="row d-flex align-items-center">
          <% if user_signed_in? && tweet.user_id == current_user.id %>
            <div class="col-md-3 text-center">
              <i class="fas fa-heart"></i><%= tweet.likes.count %>
            </div>
            <div class="col-md-9 text-right">
              <%= link_to "つぶやきを消す", tweet_path(tweet), method: :delete, remote: true, class: "btn btn-danger", data: {confirm: "削除しますか？"} %>
            </div>
          <% else %>
            <div class="col-md-3 text-center">
              <span id="likes_<%= tweet.id %>">
                <%= render "likes/btn", tweet: tweet %>
              </span>
            </div>
            <div class="col-md-9 text-right">
              <span>
                <%= link_to "はなしてみる", chat_path(tweet.user_id), class: "btn btn-success" %>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>