<%= form_with model: @user, local: true do |f| %>

  <div class="field">
    <%= f.label :icon_image, "アイコン画像" %><br />
    <%= f.attachment_field :icon_image %>
  </div>

  <div class="field">
    <%= f.label :username, "ユーザーID" %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="field">
    <%= f.label :name, "氏名" %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :sex, "性別" %>
    <%= f.text_field :sex, autofocus: true, autocomplete: "sex" %>
  </div>

  <div class="field">
    <%= f.label :age, "年齢" %><br />
    <%= f.number_field :age, autofocus: true, autocomplete: "age" %>
  </div>

  <% if user.is_hairdresser? == true %>
    <div class="field">
      <%= f.label :year, "美容師歴" %><br />
      <%= f.number_field :year, autofocus: true, autocomplete: "year" %>
    </div>

    <div class="field">
      <%= f.label :hair_salon, "所属美容室" %><br />
      <%= f.text_field :hair_salon, autofocus: true, autocomplete: "hair_salon" %>
    </div>

  <% else %>
    <div class="field">
      <%= f.label :job, "職業" %><br />
      <%= f.text_field :job, autofocus: true, autocomplete: "job" %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :introduction, "自己紹介" %><br />
    <%= f.text_field :introduction, autofocus: true, autocomplete: "introduction" %>
  </div>

  <% if user.is_hairdresser? == true %>
    <div class="field">
      <%= f.label :image, "過去の作品" %><br />
      <%= f.attachment_field :image %>
    </div>
  <% end %>

  <%= f.submit "編集" %>

<% end %>