<div class="container-fluid">
  <div class="row col-md-10 mx-auto mt-3 userpage">
    <div class="col-md-8 offset-1 userpage-name">
      <%= attachment_image_tag @user, :icon_image, fallback: "no_icon.png", size: "50x50" %>
      <%= @user.username %>
      <span id="follow_<%= @user.id %>">
        <%= render "relationships/follow", user: @user %>
      </span>
      <% unless @user == current_user %>
        <span>
          <%= link_to "はなしてみる", chat_path(@user), class: "btn btn-success" %>
        </span>
      <% end %>
    </div>

  <%# フォローに関連する記述 %>
    <div class="row col-md-3 follow-count">
      <%= render "relationships/link", user: @user %>
    </div>

  <%# ユーザーのプロフィール %>
    <table class="table col-md-9 mx-auto">
      <tbody>
        <tr class="row">
          <th class="col-md-2">氏名</th>
          <td class="col-md-10"><%= @user.name %></td>
        </tr>
        <tr class="row">
          <th class="col-md-2">性別</th>
          <td class="col-md-10"><%= @user.sex %></td>
        </tr>
        <tr class="row">
          <th class="col-md-2">年齢</th>
          <td class="col-md-10"><%= @user.age %></td>
        </tr>

        <% if @user.is_hairdresser? == true %>
          <tr class="row">
            <th class="col-md-2">美容師歴</th>
            <td class="col-md-10"><%= @user.year %></td>
          </tr>
          <tr class="row">
            <th class="col-md-2">所属美容室</th>
            <td class="col-md-10"><%= @user.hair_salon %></td>
          </tr>
          <tr class="row">
            <th class="col-md-2">役職</th>
            <td class="col-md-10"><%= @user.position %></td>
          </tr>

        <% else %>
          <tr class="row">
            <th class="col-md-2">職業</th>
            <td class="col-md-10"><%= @user.job %></td>
          </tr>
        <% end %>

        <tr class="row">
          <th class="col-md-2">自己紹介</th>
          <td class="col-md-10">
            <% unless @user.introduction == nil %>
              <%= safe_join(@user.introduction.split("\n"),tag(:br)) %>
            <% end %>
          </td>
        </tr>

        <% if @user.is_hairdresser? == true %>
          <tr class="row">
            <th class="col-md-2">過去の作品</th>
            <td><%= attachment_image_tag @user, :image, size: "450x400" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% if @user == current_user %>
    <%= link_to "編集", edit_user_path(@user), class: "btn btn-primary col-md-2 offset-8 userpage-edit-btn" %>
  <% end %>
    </div>
  </div>
</div>