<div class="container-fluid d-flex justify-content-center h-100">
  <div class="row col-md-10 align-items-center h-100">
    <div class="card col-md-8 justify-content-center mx-auto">
      <div class="card-body align-items-center">
        <h2 class="text-center">パスワードをお忘れですか？</h2>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :email, "メールアドレス", class: "control-label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control col-md-12" %>
          </div>

          <div class="actions text-center my-3">
            <%= f.submit "パスワード変更用のメールを送信します", class: "btn btn-primary col-md-12" %>
          </div>
        <% end %>

        <div class="text-center pt-3 top-btnline">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>