<div class="row">
  <% if chat.user == current_user %>
    <div class="text-right balloon2 col-md-6 offset-6 mb-2">
      <%= attachment_image_tag chat.user, :icon_image, fallback: "no_icon.png", size: "50x50", class: "icon" %>
      <p class="text-left">
        <% unless chat.content == nil %>
          <%= safe_join(chat.content.split("\n"),tag(:br)) %>
        <% end %>
      </p>
    </div>
    <p class="text-right col-md-6 offset-6 mb-2"><%= chat.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
  <% else%>
    <div class="text-left balloon1 col-md-6 offset-1 mb-2">
      <%= attachment_image_tag chat.user, :icon_image, fallback: "no_icon.png", size: "50x50", class: "icon" %>
      <p><%= chat.content %></p>
    </div>
    <p class="text-left col-md-6 mb-2"><%= chat.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
  <% end %>
</div>