<div class="row">
  <%= @user.username %>さんとのチャットルーム
</div>

<%# チャット画面の表示 %>
<div class="chat-message">
  <% @chats.each do |chat| %>
    <% if chat.user == current_user %>
      <p style="text-align: right;"><%= chat.content %></p>
    <% else%>
      <p style="text-align: leftt;"><%= chat.content %></p>
    <% end %>
  <% end %>
</div>


<%= form_with model: @chat do |f| %>
  <%= f.text_field:content %>
  <%= f.hidden_field :room_id %>
  <%= f.submit %>
<% end %>


</div>