<div class="container-fluid">
  <!--新規登録・ログインページへのリンク-->
  <div class="row mx-auto d-flex justify-content-center align-items-center top-login">
    <div class="text-center">
      <div class="top-logo mx-auto"></div>
      <div class="mb-2">
        <%= link_to "初めての美容師の方はこちら", new_user_registration_path(is_hairdresser: true), class: "btn btn-primary mx-auto" %>
        <%= link_to "初めての一般ユーザの方はこちら", new_user_registration_path(is_hairdresser: false), class: "btn btn-primary mx-auto" %><br>
        <%= link_to "共通ログイン", new_user_session_path, class: "btn btn-primary mx-auto mt-2" %>
      </div>
      <div class="text-center mt-5">
        <small>ポートフォリオを閲覧される方はこちらから</small><br>
        <%= link_to 'ゲストログイン（美容師）', users_guest_hairdresser_sign_in_path, class: "btn btn-success mx-auto", method: :post %>
        <%= link_to 'ゲストログイン(一般ユーザ）', users_guest_user_sign_in_path, class: "btn btn-success mx-auto", method: :post %>
      </div>
      <div class="text-center mt-5"><i class="fas fa-angle-double-down"></i></div>
    </div>
  </div>

  <!--へあこみゅの説明-->
  <div class="row w-100 mx-auto pt-5 col-md-12 text-center top-about">
    <h1 class="col-md-12">What's へあこみゅ?</h1>
    <p class="col-md-12 mt-3 about-message">
      へあこみゅとは、美容師の皆様と髪を美しくしたい皆様をつなげるコミュニケーションサイトです。<br>
    </p>
    <h2 class="col-md-12">こんなお悩みありませんか？</h3>
    <div class="col-md-12">
      <div class="row mt-5">
        <div class="col-md-4 offset-1 d-flex align-items-center flex-wrap justify-content-center bt-3 bg bg-info">
          <p><strong>新規顧客獲得がうまくいかない...</strong></p>
          <p><strong>リピートがなかなかこないなあ...</strong></p>
          <p><strong>モデルハントが大変！</strong></p>
        </div>
        <div class="col-md-4 offset-2 text-center bg bg-success pt-3">
          <p><strong>毎回美容室を探すのが大変...</strong></p>
          <p><strong>美容室であまり話すのが得意ではない<br>or<br>話したい！</strong></p>
          <p><strong>自分の思い通りのスタイルが見つからない...</strong></p>
        </div>
      </div>
      <div class="row py-5 about-icon">
        <div class="col-md-2 offset-2 hairdresser-image"></div>
        <div class="hairdresser-scissor"></div>
        <div class="col-md-2 pt-5 text-center">
          <i class="far fa-handshake"></i>
        </div>
        <div class="offset-1 about-user"></div>
      </div>
    </div>
  </div>
</div>