<!DOCTYPE html>
<html>
  <head>
    <title>HairCommunity</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/095da33a05.js" crossorigin="anonymous"></script>
    <meta name="turbolinks-cache-control" content="no-cache">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400&display=swap" rel="stylesheet">

  </head>


  <body>
    <div class="footer-bottom">
      <header>
        <% if user_signed_in? %>
          <%= render "layouts/header" %>
        <% end %>
      </header>
      <div class="row bg bg-success time-limit">
        <% if flash[:notice] %>
          <p class="mx-auto pt-3"><%= flash[:notice] %></p>
        <% end %>
      </div>
      <%= yield %>
      <footer>
        <% if user_signed_in? %>
          <%= render "layouts/footer" %>
        <% end %>
      </footer>
      <!--google map表示-->
      <script type="text/javascript">
        function initMap(){
        var test = {lat: <%= @user.latitude %>, lng: <%= @user.longitude %>};
          var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: test
                    });
          var transitLayer = new google.maps.TransitLayer();
          transitLayer.setMap(map);

          var contentString = '住所：<%= @user.address %>';
          var infowindow = new google.maps.InfoWindow({
            content: contentString
          });

          var marker = new google.maps.Marker({
                        position:test,
                        map: map,
                        title: contentString
                       });

           marker.addListener('click', function() {
             infowindow.open(map, marker);
           });
        }
      </script>

      <script async defer
                    src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
      </script>

    </div>
  </body>
</html>
